@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-dark-100{
    background-color: #242526;
}
.bg-dark-150{
    background-color: #3A3B3C;
}
.bg-dark-200{
    background-color: #18191A;
}
.bg-blue-950{
    background-color: #243C6D;
}
.rounded-fb{
    border-radius: 12px;
}
