/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(206, 205, 205, 0.233); 
    border-radius: 10px;
    height: 5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }
 
  